.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}
body {
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
  color: white;
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 32px;
  margin-bottom: 5px;
}

p {
  opacity: 0.7;
}

.input-box {
  margin: 20px;
}

input {
  padding: 12px;
  width: 250px;
  border-radius: 8px;
  border: none;
  outline: none;
}

button {
  padding: 12px 15px;
  border: none;
  background: #00f2fe;
  color: black;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}

.board {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.column {
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
  padding: 10px;
  width: 260px;
  min-height: 350px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.column h2 {
  margin-bottom: 10px;
}

.task {
  background: #00f2fe;
  color: black;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  cursor: grab;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task span {
  font-size: 14px;
}

.delete {
  background: red;
  color: white;
  border: none;
  padding: 3px 6px;
  border-radius: 5px;
  cursor: pointer;
}